<div class="alert alert-primary text-center" role="alert">
    Litas de perguntas mapeadas pelo bot.
</div>


<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> "como se chama?", "qual seu nome guerreiro?", "qual seu nome?" </li>
      <li class="list-group-item">"quantos anos você tem ?", "qual sua idade?", "qual seu tempo de vida?" </li>
      <li class="list-group-item">"qual seu diferencial de batalha?", "você tem diferencial de batalha?" </li>
      <li class="list-group-item">"quais suas habilidades especiais?", "quais são suas habilidades especiais?" </li>
      <li class="list-group-item">"Quais batalhas participou?", "Quais guerras ja lutou ?" </li>
      <li class="list-group-item">"quais lições aprendidas?", "quais lições aprendidas na batalha?" </li>
      <li class="list-group-item">"quais lições aprendidas na batalha?", "quais lições aprendidas?" </li>
      <li class="list-group-item">"quais suas experiências em combate?", "quais suas experiencias no campo de batalha ?" </li>
      <li class="list-group-item">"fale sobre você", "fale um pouco sobre você?", "qual seu resumo do guerreiro?"</li>
      <li class="list-group-item">"a quanto tempo esta congelado?", "a quanto tempo ta no gelo?" </li>
    </ul>
</div>


<p class="text-left"></p>

<div class="alert alert-secondary text-center" role="alert">
    Recursos ativados no watson.
</div>

<div class="card">
    <ul class="list-group list-group-flush">      
      <li class="list-group-item">Uso de Slots parar capturar variaveis digitadas </li>      
    </ul>
</div>

<div class="alert alert-light text-center" role="alert">
    emmitmeira@gmail.com
</div>